/*! Importaciones */
@import "./botones.css";

/*! Variables de fuentes y colores */
:root {
  --baseFont: 'Poppins', sans-serif;
  --secondFont: 'Oxygen', sans-serif;
  --titulo1: bold 95px/153.70px var(--baseFont);
  --titulo2: bold 59px/95px var(--baseFont);
  --titulo3: bold 52px/70px var(--baseFont);
  --titulo4: bold 38px/55px var(--baseFont);
  --titulo5: bold 22px/38px var(--baseFont);
  --cuerpo1: normal 16px/25px var(--baseFont);
  --cuerpo0: normal 30px/55px var(--secondFont);
  --button: bold 16px/22px var(--baseFont);
  --caption: normal 12px/19px var(--baseFont);
  --gradient: radial-gradient(40.50% 10% at 1.38% 10.50%, #4a21fdc2 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(150deg, #85e5fd 5%, #3532fff5 95%);
  --colorPurple:  #3509a3;
  --colorBlue: #3532fff5;
  --colorGreen: #00e1bc;
  --colorWhite: #fff;
  --colorBlack: #1f1926;
  --colorGrayLight: #d5cabd;

}
/*! Wrapper - Espaciado de los costados */
.wrapper {
  max-inline-size: 1158px;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  margin: auto;
}
/*! Body General */
body {
  font: var(--cuerpo1);
  background: var(--gradient);
  min-block-size: 100vh;
  color: var(--colorPurple);
  margin: 0;
}
/** Header */
.header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(15px);
  z-index: 1; 
}
.header-content {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: 90px;
}
.logo {
  width: 85px;
  margin-block-start: 15px;
  border-radius: 50%;
}
/** Profile */
.profile {
  padding-block-start: 80px;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.photo-profile {
  text-align: center;
}
.photo-profile img {
  border-radius: 12px;
  max-inline-size: 100%;
  height: auto;
}
.profile h1 {
  font: var(--titulo3);
  margin: 0;
}
.profile h1 span:nth-of-type(1) {
  font: var(--titulo4);
  display: block;
}
.social-media {
  padding-block-end: 24px;
  display: flex;
  gap: 16px;
}
/** Responsive de Profile */
@media screen and (min-width: 845px){
  .profile {
    display: flex;
    gap: 32px;
  }
  .photo-profile {
    order: 1;
    flex: 1;
    text-align: start;  
  }
  .photo-profile img{
    inline-size: 460px;
    block-size: 464px;
  }
  .description {
    order: 2;
    max-inline-size: 495px;
  }
}
@media screen and (min-width: 1024px){
  .photo-profile img{
    inline-size: 460px;
    block-size: 464px;
  }
}
/** Menu - Barra de Navegacion */
.nav-menu {
  display: none;
}
.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.nav-menu ul li a {
  color: var(--colorWhite);
  text-decoration: none;
  font: var(--button);
  text-transform: uppercase;
  transition: all 0.65s;
}
.nav-menu ul li a.main:hover{
  color: #3509a3;
}
.nav-menu ul li a.habilities:hover{
  color: #3509a3;

}
.nav-menu ul li a.projects:hover{
  color: #3509a3;

}
.nav-menu ul li a.contact:hover{
  color: #3509a3;
}
@media screen and (min-width: 845px){
  .nav-menu {
    display: block;
  }
}
/** Habilidades */
.habilities {
  z-index: 3;
  padding-block-start: 120px;
  padding-block-end: 0px;
  
}
.habilities h3{
  cursor: pointer;
  font: var(--titulo4);
  text-align: center;
  padding-block-end: 40px;
  transition: all 0.5s ease-out;
  
}
.habilities h3:hover {
  text-shadow: 10px 10px var(--colorWhite);
}
.galeria-port{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.imagen-port{
  width: 30%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  
}
.imagen-port > img{
  width: 92%;
  height: 92%;
  object-fit: cover;
  display: block;
  text-align: end;
  filter: drop-shadow(12px 10px 0px var(--colorWhite));
  
}
.hover-galeria{
  position: absolute;
  width: 95%;
  height: 95%;
  top: 0;
  transform: scale(0);
  background: var(--colorPurple);
  transition: transform 1.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.hover-galeria span{
  position: absolute;
  display: block;
}
#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 7px;
  background: linear-gradient(90deg, transparent, var(--colorWhite));
}
.hover-galeria:hover #span1{
  left: 100%;
  transition: 1s;
  transition-delay: 0.1s;
}
#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 7px;
  background: linear-gradient(90deg, transparent, var(--colorWhite));
}
.hover-galeria:hover #span3{
  right: 100%;
  transition: 1s;
  transition-delay: 0.4s;
}
#span2 {
  top: -100%;
  right: 0;
  width: 7px;
  height: 100%;
  background: linear-gradient(180deg, transparent,  var(--colorWhite));
}
.hover-galeria:hover #span2{
  top: 100%;
  transition: 1s;
  transition-delay: 0.3s;
}
#span4 {
  top: 100%;
  left: 0;
  width: 7px;
  height: 100%;
  background: linear-gradient(180deg, transparent,  var(--colorWhite));
}
.hover-galeria:hover #span4{
  top: -100%;
  transition: 1s;
  transition-delay: 0.75s;
}
.hover-galeria p{
  color: #fff;
  font: var(--titulo5);
  text-align: center;
  text-shadow: 3px 3px 0 var(--colorBlack);
}
.imagen-port:hover .hover-galeria {
  transform: scale(1);
}
/** Responsive de Habilidades */
@media screen and (max-width: 650px){
  .imagen-port {
  width: 85%;
  display: flex;
  justify-content: center;
  }
}
/** Introduccion a Proyectos */
.intro-projects {
  padding-block-start: 100px;
  padding-block-end: 100px;
}
.intro-projects h3{
  font: var(--cuerpo0);
  text-align: center;
}

.intro-projects p{
  font: var(--titulo4);
  text-align: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;

}
.intro-projects p:hover {
  text-shadow: 10px 10px var(--colorWhite);
}

.intro-projects img {
  display: block;
  margin: 0 auto;
  text-align: center;
  
}
.img_proyecto1 {
  max-block-size: 285px;
  border-radius: 10px;
}
.img_proyecto2 {
  max-block-size: 300px;
  border-radius: 10px;
}
/** Testimonios de proyectos */
.testimonies {
  padding-block-start: 50px;
  padding-block-end: 50px;
}
.testimonies-description{
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: justify;
}
.testimonies-image img{
  max-inline-size: 98%; /*! Margen de los proyectos */
}
.testimonies-title{
  align-self: flex-start;
  background: var(--colorPurple);
  color: var(--colorWhite);
  font: var(--titulo5);
  padding-block-start: 4px;
  padding-block-end: 4px;
  padding-inline-start: 8px;
  padding-block-end: 8px;
  box-shadow: -6px 6px 0 var(--colorWhite);
  text-decoration: none;
}
/** Responsive de testimonios  */
@media screen and (min-width: 800px) {
  .testimonies {
    display: flex;
    align-items: center;
    padding-block-start: 80px;
    padding-block-end: 80px;
    gap: 34px;
  }
  .testimonies-description {
    flex: 1;
  }
  .testimonies:nth-child(odd) .testimonies-image{
    order: 2;
    flex: 1;
    text-align: center;
  }
}
/** Formulario de Contacto */
.form-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-inline-size: 550px;
  margin: auto;
}
.form-title {
  align-self: flex-start;
  background: var(--colorPurple);
  color: var(--colorWhite);
  font: var(--titulo5);
  padding-block-start: 4px;
  padding-block-end: 4px;
  padding-inline-start: 8px;
  padding-block-end: 8px;
  box-shadow: -6px 6px 0 var(--colorWhite);
  text-decoration: none;
  margin: 0;
}
.form p{
  color: var(--colorWhite);
  text-align: center;
}
.form label {
  display: flex;
  flex-direction: column;
  font: var(--button);
}
.form input, .form textarea {
  border: 2px solid #180081;
  border-radius: 10px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  padding-block-end: 12px;
  padding-block-start: 12px;
  font: var(--cuerpo1);
  margin-block-start: 8px;
}
#envio_formulario {
  opacity: 0;
}
/** Responsive de formulario */
@media screen and (min-width: 800px) {
  .form-title {
    align-self: flex-start;
    background: var(--colorPurple);
    color: var(--colorWhite);
    font: var(--titulo5);
    padding-block-start: 4px;
    padding-block-end: 4px;
    padding-inline-start: 8px;
    padding-block-end: 8px;
    box-shadow: -6px 6px 0 var(--colorWhite);
    align-self: stretch;
    text-align: center;
  }
  
}
/** Footer- Pie de Pagina */
.footer-content {
  color: var(--colorWhite);
  text-align: center;
}
.social-footer {
  display: flex;
  gap: 10px;
  text-align: center;
}
.footer .social-footer {
  justify-content: center;
  padding: 0;
  margin-block-start: 25px

}
.footer-logo {
  display: none;
}
/** Responsive de footer */
@media screen and (min-width: 800px){
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-logo {
    display: block
  }
  
  .footer .social-footer {
    order: 3;
    padding: 0;
    margin: 0;
    text-align:center
  }
}
@media screen and (min-width: 1024px){
  .footer-copy {
    display: flex;
    gap: 6px;
  }
  .footer {
    margin-block-start: 40px;
    margin-block-end: 40px;

  }
}
/** Personalizacion de Barra de Navegacion */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  border-radius: 0px;
background: #3f32f3;
}
::-webkit-scrollbar-thumb {
  border-radius: 60px;
  background: var(--colorWhite);
}
